@font-face {
    font-family: 'Inter';
    src: url('Inter_18pt-Regular.tif') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter_18pt-Light.tif') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter_18pt-Medium.tif') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter_18pt-Bold.tif') format('truetype');
    font-weight: 700;
    font-style: normal;
}