/* Import shared styles */
@import url('../../shared/css/base/reset.css');
@import url('../../shared/css/base/variables.css');
@import url('../../shared/css/base/typography.css');

@import url('../../shared/css/layout/layout.css');
@import url('../../shared/css/components/buttons.css');
@import url('../../shared/css/components/forms.css');
@import url('../../shared/css/components/popup_base.css');

/* Comers specific components */
@import url('components/style.css');
@import url('components/tooltip.css');
@import url('components/status_style.css');
@import url('components/filters_style.css');
@import url('components/comers-table.css');
@import url('components/data_form.css');
@import url('components/form_animation.css');

