/* Import shared styles */
@import url('../../shared/css/base/reset.css');
@import url('../../shared/css/base/variables.css');
@import url('../../shared/css/base/typography.css');

@import url('../../shared/css/layout/layout.css');
@import url('../../shared/css/components/buttons.css');
@import url('../../shared/css/components/forms.css');
@import url('../../shared/css/components/tables.css');
@import url('../../shared/css/components/popups.css');

/* Comers specific components */
@import url('components/style.css');
@import url('components/supplier-cards.css');
@import url('components/comers-table.css');

