


body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 20px;
}
.search-bar {
    display: flex;
    margin-bottom: 20px;
}
.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
}
.search-bar button {
    padding: 10px;
}

.table {
    display: table;
    width: 100%;
}
.table-header, .table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.table-header .table-cell {
    background-color: #f2f2f2;
    font-weight: bold;
}





/* Основные стили */
body {
    font-family: var(--font-family);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

header {
    margin-left: 254px;
    height: 96px;
    background: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.find_container {
    margin-left: 50px;
    width: 375px;
    height: 96px;
}





.check_box {
    width: 17px;
    height: 14px;
}

.search_bar {
    margin-top: 16px;
}

.info_update {
    text-align: center;
    margin-right: 40px;
}












.details_item {
    display: none;
}



.logo {
    text-align: center;
    height: 150px;
    padding: 20px 0;
}

.info_title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

.position_title {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

.position_title p {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
}

.project_item, .any_projects {
    display: flex;
    align-items: center;
}

.any_projects {
    cursor: pointer;
}

.circle {
    width: 11px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 100%;
    margin-right: 5px;
}

.any_projects p {
    color:  var(--red-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

.hide_info {
    color: rgb(165, 176, 187);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.main {
    /* border: 1px solid black; */
    margin-left: 254px;

}

.main {
    position: relative;
    height: 82vh; /* Высота экрана */
    overflow: hidden; /* Скрываем прокрутку для основного контейнера */
}

.manual {
    height: 85vh; /* Фиксированная высота на весь экран */
    overflow-y: auto; /* Включаем скролл при переполнении */
    display: none;
}


.manual img {
    width: 100%;
    height: auto;
    min-height: 100vh; /* Гарантирует, что изображение будет больше экрана */
    object-fit: contain; /* Сохраняет пропорции */
}


.table-container {
    display: block;
}


.title_count {
    margin-right: 5px;
}

.arrow_img {
    margin-left: 5px;
    margin-bottom: 5px;
}

.total_contauner {
    display: flex;
    gap: 10px;
}


.background-overlay {
    display: none; /* Скрываем фон по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 58, 85, 0.3);
    z-index: 9; /* Убедитесь, что фон находится под popup */
}



.name_position {
    color: rgb(31, 58, 85);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}


























