/* CSS переменные для удобства */
:root {
    --primary-color: rgb(31, 58, 85);
    --secondary-color: rgb(251, 184, 160);
    --text-color: rgb(255, 255, 255);
    --font-family: 'Inter', sans-serif;
    --border-color: black;
    --red-color: rgb(246, 78, 17);
}

/* Основные стили */
body {
    font-family: var(--font-family);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

header {
    margin-left: 254px;
    height: 96px;
    background: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    position: fixed;
    width: 254px;
    min-height: 100vh;
    background: var(--primary-color);
    padding: 0 15px;
    border: 1px solid black;
}

.sidebar p {
    color: rgb(165, 176, 187);
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    margin-bottom: 5px;
}

.menu_row, .menu_row_down {
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 8px;
}

.menu_link a {
    color: var(--text-color);
    font-size: 18px;
    transition: color 0.3s ease;
    text-decoration: none;
    margin-right: 5px;
}

.menu_row:hover  .menu_link a {
    color: var(--secondary-color);
}

.menu_row_down:hover  .menu_link a {
    color: var(--secondary-color);
}


.find_container {
    margin-left: 50px;
    width: 375px;
    height: 96px;
}

.filter_container {
    width: 375px;
    padding: 10px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.check_box {
    width: 17px;
    height: 14px;
}

.search_bar {
    margin-top: 16px;
}

.info_update {
    text-align: center;
    margin-right: 40px;
}

.filter_project_container {
    margin-left: 254px;
    height: 72px;
    background: var(--text-color);
    /* border: 1px solid var(--border-color); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_wrapper, .button_wrapper_clear,.button_wrapper_update{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: var(--text-color);
    font-size: 16px;
}





.button_wrapper {
    width: 224px;
    height: 40px;
    background: var(--primary-color);
    margin-left: 45px;
}

.button_wrapper_clear {
    width: 224px;
    background: var(--secondary-color);
    margin-right: 40px;
}

.button_wrapper_update {
    width: 224px;
    background: rgb(12, 207, 19);
    opacity: 0.3;
    margin-bottom: 5px;
}

.details_item {
    display: none;
}

.down_menu {
    height: 150px;
    position: fixed;
    bottom: 0;
}

.logo {
    text-align: center;
    height: 150px;
    padding: 20px 0;
}

.info_title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

.position_title {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

.position_title p {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
}

.project_item, .any_projects {
    display: flex;
    align-items: center;
}

.any_projects {
    cursor: pointer;
}

.circle {
    width: 11px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 100%;
    margin-right: 5px;
}

.any_projects p {
    color:  var(--red-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

.hide_info {
    color: rgb(165, 176, 187);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.main {
    /* border: 1px solid black; */
    margin-left: 254px;

}

.main {
    position: relative;
    height: 82vh; /* Высота экрана */
    overflow: hidden; /* Скрываем прокрутку для основного контейнера */
}

.manual {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto; /* Включаем вертикальную прокрутку для изображения */
    display: none;
}

.table-container {
    display: block;
}

.manual img {
    width: 100%;
    height: auto;
}

.title_count {
    margin-right: 5px;
}

.arrow_img {
    margin-left: 5px;
    margin-bottom: 5px;
}

.total_contauner {
    display: flex;
    gap: 10px;
}


.any_projects_popup {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Убедитесь, что popup находится поверх таблицы */
    width: 610px;
    height: 437px;
    left: 655px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
}


.any_projects_popup > div {
    text-align: center;
    background-color: white; 
    border-radius: 8px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}



.any_projects_popup.active {
    display: flex; /* Показываем popup, когда он активен */
    justify-content: center;
    align-items: center;
}

.close {
    display: flex;
    justify-content: right;
    padding: 5px;
}
.close img {
    cursor: pointer;
}

.title_popup_any_projects {
    color: rgb(31, 58, 85);
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;   
    margin-bottom: 10px;

}

.name_position {
    text-align: left;
    margin-bottom: 20px;
}

.popup_container{
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
}

.item_project_popup {
    display: flex;
    gap: 120px;
}