
services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env  
    environment:
      - DEBUG=True
      - DJANGO_SETTINGS_MODULE=config.settings.dev
    depends_on:
      - db
      - redis
    stdin_open: true
    tty: true

  db:
    image: postgres:16
    ports:
      - "5433:5432" 

    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  celery:
    build: 
      context: .
      dockerfile: Dockerfile
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env  
    environment:
      - DEBUG=True
      - DJANGO_SETTINGS_MODULE=config.settings.dev
    depends_on:
      - db
      - redis

volumes:
  postgres_data_dev: