
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file:
      - .env.prod  # Используем продакшен-переменные  
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.prod
      - POSTGRES_HOST=db
    volumes:
      - staticfiles:/usr/src/app/staticfiles
      - media:/usr/src/app/media
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

  redis:
    image: redis:alpine

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./deploy/nginx.prod.conf:/etc/nginx/conf.d/default.conf
      - staticfiles:/usr/src/app/staticfiles
      - media:/usr/src/app/media
    depends_on:
      - web

  celery:
    build:
      context: .
      dockerfile: Dockerfile.prod
    command: celery -A config worker --loglevel=info
    env_file:
    - .env.prod  # Явно подключаем файл с переменными
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}  # Должен совпадать с паролем в сервисе db
      - POSTGRES_HOST=db
      - DJANGO_SETTINGS_MODULE=config.settings.prod
    volumes:
      - staticfiles:/usr/src/app/staticfiles
      - media:/usr/src/app/media
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  staticfiles:
  media: