.edit_invoice_button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

/* Подсветка строки с проектом в таблице */
tr.highlight-project {
    animation: pulse-highlight 2s 
ease-in-out;
}

tr.highlight-project {
    border-left: 4px solid #ff8c00d9;
    background-color: #f3f90961;
}


/* Стиль для всей шапки таблицы */
thead {
    background-color: #852727; /* Светло-серый фон */
}

/* Или более современный вариант с градиентом */
thead {
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
    border-bottom: 2px solid #dee2e6;
    
}

.table-container {
    max-height: 79vh; /* или любая другая фиксированная высота */
    overflow-y: auto; /* вертикальный скролл */
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2; /* чтобы заголовок был поверх тела таблицы */
}

.info_project {
    cursor: pointer;
}