
.input_data_form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    margin: 10px 0;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input::placeholder, form select::placeholder {
    color: #aaa;
}

form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #0056b3;
}
