/* static/finder/css/finder.css */

/* Фаза 1: Базовые импорты */
@import url('../../shared/css/base/reset.css');
@import url('../../shared/css/base/variables.css');
@import url('../../shared/css/base/typography.css');

/* Фаза 2: Компоненты */
@import url('../../shared/css/components/buttons.css');
@import url('../../shared/css/components/forms.css');
@import url('../../shared/css/layout/layout.css');

/* Фаза 3: Специфичные стили finder (позже перенесем сюда) */

@import url('components/sidebar.css');
@import url('components/popups.css');
@import url('components/search-filters.css');
@import url('components/table-finder.css');
@import url('components/pagination.css');
@import url('components/menu.css');
@import url('components/projects.css');
@import url('components/analogs.css');
@import url('components/any.css');
@import url('components/details.css');
@import url('components/manual.css');

/* Шрифты

