/* Переносим из style_finder2.css */
.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

header {
    margin-left: 254px;
    height: 96px;
    background: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    margin-left: 254px;
    position: relative;
    height: 82vh;
    overflow: hidden;
}

.filter_project_container {
    margin-left: 254px;
    min-height: 72px;
    background: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 10px;
}