.info_window {
    z-index: 1;
    display: none;
    max-width: 430px;
    border: 1px solid #e0e0e0;
    border-radius: 9px;
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
    background: #f9f9f9;
    flex-direction: column;
    gap: 12px;
}


.info_result_items_title,
.final_result_sum_unit,
.final_result_sum {
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-family);
    color: rgb(31, 58, 85);

}

.close_div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.final_result_sum_unit {
    margin-right: 13px;
}
.final_result_sum {
    margin-left: 175px;
}

.info_result_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}


.close {
    display: flex;
    justify-content: right;
    padding: 5px;
}
.close img {
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}


