.menu_row, .menu_row_down {
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 8px;
}

.menu_link a {
    color: var(--text-color);
    font-size: 18px;
    transition: color 0.3s ease;
    text-decoration: none;
    margin-right: 5px;
}

.menu_row:hover  .menu_link a {
    color: var(--secondary-color);
}

.menu_row_down:hover  .menu_link a {
    color: var(--secondary-color);
}

.down_menu {
    height: 150px;
    position: fixed;
    bottom: 0;
}