.project-chip {
    display: flex;
    align-items: center;
    margin: 4px;
    background: #f5f5f5;
    transition: all 0.3s ease;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.project-chip.removing {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}

.project-chip-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.delete-project {
    margin-left: auto;
    background: none;
    border: none;
    color: #ff4444;
    cursor: pointer;
    font-size: 16px;
    padding: 0 6px;
    line-height: 1;
}


.selected-projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    flex-grow: 1;
    min-width: 0; /* Важно для правильного переноса */
}


.info_result_sum_project {
    width: 550px;
    height: 40px;
    margin-left: 30px;
    background: rgba(158, 236, 160, 1);
}

.project_name_popup {
    width: 40%;
    text-align: left;
    
}  

.project_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 30px;
}


.project_container div {
    font-family: var(--font-family);
    font-size: 16px;
}

.item_project_popup {
    height: 33vh;
    overflow: auto;
}

.title_popup_any_projects {
    color: rgb(31, 58, 85);
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: bold;
}

.project_item, .any_projects {
    display: flex;
    gap: 5px;
}


.any_projects {
    cursor: pointer;
}

.any_projects p {
    color:  var(--color-orange);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}
