/* Базовый стиль для всех кнопок */
.button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    width: 224px;
    border: none;
    font-family: var(--font-family);
}


/* Семантичные модификаторы */
.button--primary {
    background: var(--button-primary-bg);
    color: var(--button-primary-text);
}

.button--alert {
    background: var(--color-orange-alt);
    color: var( --text-color-white);

}

.button--secondary {
    background: var(--button-secondary-bg);
    color: var(--button-secondary-text);
}

.button--accent {
    background: var(--button-accent-bg);
    color: var(--button-accent-text);
}

.button--dark {
    background: var(--button-dark-bg);
    color: var(--button-dark-text);
}

.button--light {
    background: var(--button-light-bg);
    color: var(--button-light-text);
}

/* Состояния */
.button:disabled {
    opacity: var(--button-disabled-opacity);
    cursor: not-allowed;
}

.button_wrapper,
.button_wrapper_clear,
.button_wrapper_update,
.button_wrapper_close,
.button_wrapper_filter_view_all,
.button_wrapper_filter_submit {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    width: 224px;
}

.button_wrapper {
    background: var(--sidebar);
    margin-left: 45px;
}

.button_wrapper_clear {
    background: var(--button_clear);
    margin-right: 40px;
}

.button_wrapper_update {
    background: var(--button_update_access);
    margin-bottom: 5px;
    gap: 10px;
}

.button_wrapper_close {
    background: var(--button_close);
}

.button_wrapper_filter_view_all {
    background: #0CCF13;
}

.button_wrapper_filter_clear {
    background: #F64E11;
}

.button_wrapper_filter_submit {
    background: #1F3A55;
}

