/* Базовый стиль для всех кнопок */
.button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    width: 224px;
    border: none;
    font-family: var(--font-family);
}

/* Зеленая яркая */
.button--green {
    background: var(--color-green);
    color: var(--text-color-white);
    gap: 5px;
}

/* Зеленая туская */
.button--green-dim {
    background: var(--color-green);
    color: var(--text-color-white);
    opacity: var(--button-disabled-opacity);
    cursor: not-allowed;
}

/* Красная яркая */
.button--red {
    background: var(--color-orange);
    color: var( --text-color-white);
}

/* Красная тусклая */
.button--red-dim {
    background: var(--color-orange);
    color: var( --text-color-white);
    opacity: var(--button-disabled-opacity);
    cursor: not-allowed;
}



/* Темно синяя яркая */
.button--dark-blue {
    background: var(--color-dark-blue);
    color: var(--text-color-white);
    
}

/* Темно синяя тусклая */
.button--dark-blue-dim {
    background: var(--color-dark-blue);
    color: var(--text-color-white);
    opacity: var(--button-disabled-opacity);
    cursor: not-allowed;
}

/* Белая черный шрифт */
.button--white {
    background: var(--text-color-white);
    color: var(--body-text-color);
    border: 1px solid black;
}

/* Белая черный шрифт тусклая */
.button--white-dim {
    background: var(--text-color-white);
    color: var(--body-text-color);
    opacity: var(--button-disabled-opacity);
    cursor: not-allowed;
    border: 1px solid black;
}


