/* Из style_finder2.css - ВСЕ стили сайдбара */
.sidebar {
    position: fixed;
    width: 254px;
    min-height: 100vh;
    background: var(--color-dark-blue);
    padding: 0 15px;
    border: 1px solid black;
}

.sidebar p {
    color: var(--color-blue-alt);
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    margin-bottom: 5px;
}




