
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'comers/css/comers.css' %}">
    <title>Установка фильтров</title>
</head>
<body>

        <div class="filter-section">
            <div class="navigate_back_page">
                <div class="arrow_back_page">
                    <img  src="{% static '/comers/icons/arrow_back.png' %}" alt="<">   
                        <p>На главную</p>
                </div>
                        <div>   
                            <div>
                                <p>База обновлена 22.11.2025</p>
                            </div>
                            
                        </div>     
                </div>
                <div class="info_sting_report ">
                        <p class="set_filters">Установка фильтров</p>
                        <div class="button button--white ">
                            <img src="{% static '/comers/icons/icon_report.png' %}" alt="Скачать отчет">  
                            <div class="open-btn" data-popup="popup4" >Скачать отчет</div>
                        </div>
                </div>
            <div class="filter_choises">
                <div class="choice_form_container">
                    <form id="choice_form_container" method="post">
                        {% csrf_token %}
                        {{filter_form}}
                    </form>
                </div>    
                <div class="buttons_navigate_choice">
                    <button id="clear_filter" class="button button--red">Сбросить фильтр</button>

                    <!-- Кнопка в которой два окна Popup-->
                    <div class="open-btn" data-popup="popup1">
                        <div class="button button--dark-blue ">
                            <img src="{% static '/comers/icons/icon_add_data.png' %}" alt="Внести данные">  
                            <div class="open-btn" data-popup="popup1" >Ввести данные</div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Окно 1: ДВЕ КНОПКИ -->
            <div id="popup1" class="my-popup">
                <div class="popup-content">
                    <div class="popup-header">
                        <span class="drag-handle">1☰</span>
                        <h2>Внести данные</h2>
                        <span class="close-btn">&times;</span>
                    </div>
                    <div class="content-area">
                        <div class="add_data_user">
                            <div class="button button--white ">
                                <img src="{% static '/comers/icons/icon_add_supplier.png' %}" alt="Внести данные">  
                                <div class="open-btn" data-popup="popup2">Добавить поставщика</div>
                            </div>
                            <div class="button button--dark-blue ">
                                <img src="{% static '/comers/icons/icon_add_data.png' %}" alt="Внести данные">  
                                <div class="open-btn" data-popup="popup3">Внести данные</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Окно 2: Добавление поставщика -->
            <div id="popup2" class="my-popup">
                <div class="popup-content">
                    <div class="popup-header">
                        <span class="drag-handle">2☰</span>
                        <h2>Добавить поставщика</h2>
                        <span class="close-btn">&times;</span>
                    </div>
                    <div class="content-area">
                        <form id="add_suppler_form" method="post">
                            {% csrf_token %}
                            {{add_suppler_form}}
                            <button type="button" class=" button_supplier button button--green ">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- Окно 3: Форма с заявкой -->
            <div id="popup3" class="my-popup">
                <div class="add_data_mode popup-content">
                    <div class="popup-header">
                        <span class="drag-handle">3☰</span>
                        <h2>Форма внесения данных</h2>
                        <span class="close-btn">&times;</span>
                    </div>
                    <div class="content-area">
                        <form id="inputDataForm" method="post" class="data-entry-form">
                            {% csrf_token %}
                    
                            <div class="form-columns">
                                <!-- Левая колонка -->
                                <div class="form-column">
                                    <!-- Накладная -->
                                    <div class="form-group">
                                        <div class="form-group">
                                            {{ input_data_form.invoice_number.label }}  <!-- Автоматический лейбл -->
                                            {{ input_data_form.invoice_number }}  <!-- Django сам подставит класс и required -->
                                        </div>
                                    </div>
                    
                                    <!-- Дата -->
                                    <div class="form-group">
                                        <div class="form-group">
                                            {{ input_data_form.date.label }}  <!-- Автоматический лейбл -->
                                            {{ input_data_form.date }}  <!-- Django сам подставит класс и required -->
                                        </div>
                                    </div>
                    
                                    <!-- Поставщик -->
                                    <div class="form-group">
                                        <div class="form-group">
                                            {{ input_data_form.supplier.label }}  <!-- Автоматический лейбл -->
                                            {{ input_data_form.supplier }}  <!-- Django сам подставит класс и required -->
                                        </div>
                                    </div>
                    
                                    <!-- Артикул -->
                                    <div class="form-row">
                                        <div class="form-group">
                                            {{ input_data_form.article_mirror.label }}  <!-- Автоматический лейбл -->
                                            {{ input_data_form.article_mirror }}  <!-- Django сам подставит класс и required -->
                                        </div>

                                        <!-- Количество -->
                                        <div class="form-group">
                                            {{ input_data_form.quantity.label }}  <!-- Автоматический лейбл -->
                                            {{ input_data_form.quantity }}  <!-- Django сам подставит класс и required -->
                                        </div>
                                    </div>

                                    <!-- Наименование Автоматическая подстановка -->
                                    <div class="form-group">
                                        {{ input_data_form.name.label }}  <!-- Автоматический лейбл -->
                                        {{ input_data_form.name }}  <!-- Django сам подставит класс и required -->
                                    </div>
                                </div>
                    
                                <!-- Правая колонка -->
                                <div class="form-column">
                                    <!-- Комментарий по товару -->
                                    <div class="form-group">
                                        {{ input_data_form.comment.label }}  <!-- Автоматический лейбл -->
                                        {{ input_data_form.comment }}  <!-- Django сам подставит класс и required -->
                                    </div>
                    
                                    <!-- Описание проблемы -->
                                    <div class="form-group">
                                        {{ input_data_form.description_problem.label }}  <!-- Автоматический лейбл -->
                                        {{ input_data_form.description_problem }}  <!-- Django сам подставит класс и required -->
                                    </div>
                    
                                    <!-- Специалист -->
                                    <div class="form-group">
                                        {{ input_data_form.specialist.label }}  <!-- Автоматический лейбл -->
                                        {{ input_data_form.specialist }}  <!-- Django сам подставит класс и required -->
                                    </div>
                    
                                    <!-- Ведущий накладную -->
                                    <div class="form-group">
                                        {{ input_data_form.leading.label }}  <!-- Автоматический лейбл -->
                                        {{ input_data_form.leading }}  <!-- Django сам подставит класс и required -->
                                    </div>
                                </div>
                            </div>
                    
                            <!-- Скрытые поля -->
                            <input type="hidden" id="hidden_unit" name="{{ input_data_form.unit.html_name }}">
                            <input type="hidden" id="hidden_article" name="{{ input_data_form.article.html_name }}">
                            <input type="hidden" id="hidden_project" name="{{ input_data_form.project.html_name }}">
                    
                            <!-- Кнопки -->
                            <div class="form-buttons">
                                <button type="submit" class="send_data_form_button button button--green">Внести данные</button>
                            </div>
                        </form>
                    </div>
                    
                    
                    
                </div>
            </div>
            <!-- Окно 4: Меню с отчетом -->
            <div id="popup4" class="my-popup">
                <div class="popup-content">
                    <div class="popup-header">
                        <span class="drag-handle">4☰</span>
                        <h2>Ваше окно</h2>
                        <span class="close-btn">&times;</span>
                    </div>
                    <div class="content-area">
                        Скачать отчет
                    </div>
                </div>
            </div>
            <!-- Окно 5: Редактировать позицию в таблице -->
            <div id="popup5" class="my-popup">
                <div class="popup-content">
                    <div class="popup-header">
                        <span class="drag-handle">5☰</span>
                        <h2>Редактировать позицию </h2>
                        <span class="close-btn">&times;</span>
                    </div>
                    <div class="content-area">
                        <form id="invoice_edit_form" method="post" class="data-entry-form">
                            {% csrf_token %}
                    
                            <div class="form-columns">
                                <!-- Левая колонка -->
                                <div class="form-column">
                                    <!-- Накладная -->
                                    <div class="form-group">
                                        <div class="form-group">
                                            {{ invoice_edit_form.invoice_number.label }}  <!-- Автоматический лейбл -->
                                            {{ invoice_edit_form.invoice_number }}  <!-- Django сам подставит класс и required -->
                                        </div>
                                    </div>
                    
                                    <!-- Дата -->
                                    <div class="form-group">
                                        <div class="form-group">
                                            {{ invoice_edit_form.date.label }}  <!-- Автоматический лейбл -->
                                            {{ invoice_edit_form.date }}  <!-- Django сам подставит класс и required -->
                                        </div>
                                    </div>
                    
                                    <!-- Поставщик -->
                                    <div class="form-group">
                                        <div class="form-group">
                                            {{ invoice_edit_form.supplier.label }}  <!-- Автоматический лейбл -->
                                            {{ invoice_edit_form.supplier }}  <!-- Django сам подставит класс и required -->
                                        </div>
                                    </div>
                    
                                    <!-- Артикул -->
                                    <div class="form-row">
                                        <div class="form-group">
                                            {{ invoice_edit_form.article_mirror.label }}  <!-- Автоматический лейбл -->
                                            {{ invoice_edit_form.article_mirror }}  <!-- Django сам подставит класс и required -->
                                        </div>

                                        <!-- Количество -->
                                        <div class="form-group">
                                            {{ invoice_edit_form.quantity.label }}  <!-- Автоматический лейбл -->
                                            {{ invoice_edit_form.quantity }}  <!-- Django сам подставит класс и required -->
                                        </div>
                                    </div>

                                    <!-- Наименование Автоматическая подстановка -->
                                    <div class="form-group">
                                        {{ invoice_edit_form.name.label }}  <!-- Автоматический лейбл -->
                                        {{ invoice_edit_form.name }}  <!-- Django сам подставит класс и required -->
                                    </div>
                                </div>
                    
                                <!-- Правая колонка -->
                                <div class="form-column">
                                    <!-- Комментарий по товару -->
                                    <div class="form-group">
                                        {{ invoice_edit_form.comment.label }}  <!-- Автоматический лейбл -->
                                        {{ invoice_edit_form.comment }}  <!-- Django сам подставит класс и required -->
                                    </div>
                    
                                    <!-- Описание проблемы -->
                                    <div class="form-group">
                                        {{ invoice_edit_form.description_problem.label }}  <!-- Автоматический лейбл -->
                                        {{ invoice_edit_form.description_problem }}  <!-- Django сам подставит класс и required -->
                                    </div>
                    
                                    <!-- Специалист -->
                                    <div class="form-group">
                                        {{ invoice_edit_form.specialist.label }}  <!-- Автоматический лейбл -->
                                        {{ invoice_edit_form.specialist }}  <!-- Django сам подставит класс и required -->
                                    </div>
                    
                                    <!-- Ведущий накладную -->
                                    <div class="form-group">
                                        {{ invoice_edit_form.leading.label }}  <!-- Автоматический лейбл -->
                                        {{ invoice_edit_form.leading }}  <!-- Django сам подставит класс и required -->
                                    </div>
                                </div>
                            </div>
                    
                            <!-- Скрытые поля -->
                            <input type="hidden" id="hidden_unit" name="{{ invoice_edit_form.unit.html_name }}">
                            <input type="hidden" id="hidden_article" name="{{ invoice_edit_form.article.html_name }}">
                            <input type="hidden" id="hidden_project" name="{{ invoice_edit_form.project.html_name }}">
                            <!-- Кнопки -->
                            <div class="form-buttons">
                            <button type="submit" class="send_data_form_button button button--green">Применить</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Окно 6: Установить статус -->
            <div id="popup6" class="my-popup">
                <div class="popup-content">
                    <div class="popup-header">
                        <span class="drag-handle">6☰</span>
                        <h2>Установить статус </h2>
                        <span class="close-btn">&times;</span>
                    </div>
                    <div class="content-area">
                        Установить статус
                    </div>
                </div>
            </div>
            <!-- Окно 7: Удалить -->
            <div id="popup7" class="my-popup">
                <div class="popup-content">
                    <div class="popup-header">
                        <span class="drag-handle">7☰</span>
                        <h2>Удаление позиции </h2>
                        <span class="close-btn">&times;</span>
                    </div>
                    <div class="content-area">
                        <p>
                            Вы действительно хотите удалить эту позицию?
                        </p>
                        <div class="form-buttons">
                            <button id="del_row_comers_table" class="button button--red">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>


            <table>
                <thead>
                    <tr>
                        <th>номер накладной</th>
                        <th>дата накладной</th>
                        <th>поставщик</th>
                        <th>артикул</th>
                        <th>наименование</th>
                        <th>единицы измерения</th>
                        <th>количество</th>
                        <th>комментарий</th>
                        <th>описание</th>
                        <th>специалист</th>
                        <th>ведущий</th>
                        <th>статус</th>
                        <th>примечание</th>
                        <th>действия</th>
                    </tr>
                </thead>
                <tbody id="invoiceTableBody">
                    <!-- Data will be loaded here -->
            </tbody>
            </table>
    <script>
        // Пути к иконкам
        const ICON_EDIT = "{% static '/comers/icons/icon_edit.png' %}";
        const ICON_STATUS = "{% static '/comers/icons/icon_status.png' %}";
        const ICON_DELETE = "{% static '/comers/icons/icon_delete.png' %}";
    </script>
    <script src='{% static 'comers\js\get_all_data_load_page.js' %}'></script>
    <script src='{% static 'shared\js\components\popup_manager.js' %}'></script>
    <script src='{% static 'comers\js\create_supplier.js' %}'></script>
    <script src='{% static 'comers\js\edit_row.js' %}'></script>
    <script src='{% static 'comers\js\localstorage.js' %}'></script>
    <script src='{% static 'comers\js\delete_row.js' %}'></script>
    <script src='{% static 'comers\js\create_invoice.js' %}'></script>
    <script src='{% static 'comers\js\auto_fields.js' %}'></script>
</body>
</html>