
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'comers/css/comers.css' %}">
    <title>Установка фильтров</title>
</head>
<body>

        <div class="filter-section">
            <div class="navigate_back_page">
                <div class="arrow_back_page">
                    <img  src="{% static '/comers/icons/arrow_back.png' %}" alt="<">   
                        <p>На главную</p>
                </div>
                        <div>   
                            <div>
                                <p>База обновлена 22.11.2025</p>
                            </div>
                            
                        </div>     
            </div>
                <div class="info_sting_report ">
                        <p class="set_filters">Установка фильтров</p>
                        <div class="button button--white ">
                            <img src="{% static '/comers/icons/icon_report.png' %}" alt="Скачать отчет">  
                            <div class="open-btn" data-popup="popup4" >Скачать отчет</div>
                        </div>
                </div>
            <div class="filter_choises">
                <div>   
                        <label class="filter-label">Выбор поставщика</label>
                        <select id="supplierFilter" class="input_wrapper">
                            <option>ЗАО профессиональные профессионалы</option>
                        </select>
                </div> 
                <div>
                        <label>Выбор ведущего накладную</label>
                        <select id="leadingFilter" class="input_wrapper">
                            <option>Иванов Иван Иванович</option>
                        </select>
                </div>
                <div>
                        <label>Выбор статуса</label>
                        <select id="statusFilter" class="input_wrapper">
                            <option>Все</option>
                        </select>
                </div>
                <div class="buttons_navigate_choice">
                    <button class="button button--red">Сбросить</button>
                    <button class="button button--green">Применить</button>

                    <!-- В кнопке два окна Popup-->
                    <div class="open-btn" data-popup="popup1">
                        <div class="button button--dark-blue ">
                            <img src="{% static '/comers/icons/icon_add_data.png' %}" alt="Внести данные">  
                            <div>Внести данные</div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Окно 1: с формой -->
            <div id="popup1" class="my-popup">
                <div class="popup-content">
                    <div class="popup-header">
                        <span class="drag-handle">☰</span>
                        <h2>Внести данные</h2>
                        <span class="close-btn">&times;</span>
                    </div>
                    <div class="content-area">
                        <div class="add_data_user">
                            <div class="button button--white ">
                                <img src="{% static '/comers/icons/icon_add_supplier.png' %}" alt="Внести данные">  
                                <div class="open-btn" data-popup="popup2">Добавить поставщика</div>
                            </div>
                            <div class="button button--dark-blue ">
                                <img src="{% static '/comers/icons/icon_add_data.png' %}" alt="Внести данные">  
                                <div class="open-btn" data-popup="popup3">Внести данные</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Окно 2: Добавление поставщика -->
            <div id="popup2" class="my-popup">
                <div class="popup-content">
                    <div class="popup-header">
                        <span class="drag-handle">☰</span>
                        <h2>Добавить поставщика</h2>
                        <span class="close-btn">&times;</span>
                    </div>
                    <div class="content-area">
                        <form>
                            <input class= "input_wrapper" type="text" placeholder="Название поставщика">
                            <button class="button button--green button_supplier ">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- Окно 3: Форма с заявкой -->
            <div id="popup3" class="my-popup">
                <div class="add_data_mode popup-content">
                    <div class="popup-header">
                        <span class="drag-handle">☰</span>
                        <h2>Форма внесения данных</h2>
                        <span class="close-btn">&times;</span>
                    </div>
                    <div class="content-area">
                        <form id="inputDataForm" method="post" class="data-entry-form">
                            {% csrf_token %}
                    
                            <div class="form-columns">
                                <!-- Левая колонка -->
                                <div class="form-column">
                                    <!-- Накладная -->
                                    <div class="form-group">
                                        <label for="{{ input_data_form.invoice_number.id_for_label }}">Документ*</label>
                                        <input
                                            type="text"
                                            id="{{ input_data_form.invoice_number.id_for_label }}"
                                            name="{{ input_data_form.invoice_number.html_name }}"
                                            placeholder="Введите номер документа"
                                            class="input_wrapper"
                                            required
                                        >
                                    </div>
                    
                                    <!-- Дата -->
                                    <div class="form-group">
                                        <label for="{{ input_data_form.date.id_for_label }}">Дата документа*</label>
                                        <input
                                            type="date"
                                            id="{{ input_data_form.date.id_for_label }}"
                                            name="{{ input_data_form.date.html_name }}"
                                            class="input_wrapper"
                                            required
                                        >
                                    </div>
                    
                                    <!-- Поставщик -->
                                    <div class="form-group">
                                        <label for="{{ input_data_form.supplier.id_for_label }}">Выбор поставщика*</label>
                                        <select
                                            id="{{ input_data_form.supplier.id_for_label }}"
                                            name="{{ input_data_form.supplier.html_name }}"
                                            class="input_wrapper"
                                            required
                                        >
                                            {%for supplier in input_data_form.supplier%}
                                                {{supplier}}
                                            {%endfor%}
                                        </select>
                                    </div>
                    
                                    <!-- Артикул и Количество -->
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="{{ input_data_form.article_mirror.id_for_label }}">Артикул*</label>
                                            <input
                                                type="text"
                                                id="{{ input_data_form.article_mirror.id_for_label }}"
                                                name="{{ input_data_form.article_mirror.html_name }}"
                                                placeholder="Артикул"
                                                class="check_article button_mod_width button button--white"
                                                required
                                            >
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ input_data_form.quantity.id_for_label }}">Количество*</label>
                                            <input
                                                type="number"
                                                id="{{ input_data_form.quantity.id_for_label }}"
                                                name="{{ input_data_form.quantity.html_name }}"
                                                placeholder="Количество"
                                                class="button_mod_width button button--white"
                                                required
                                            >
                                        </div>
                                    </div>
                    
                                    <!-- Наименование -->
                                    <div class="form-group">
                                        <label for="{{  input_data_form.name.id_for_label }}">Наименование*</label>
                                        <input
                                            type="text"
                                            id="{{ input_data_form.name.id_for_label }}"
                                            name="{{ input_data_form.name.html_name }}"
                                            placeholder="Подставляется автоматически"
                                            class="views_title input_wrapper"
                                            readonly
                                        >
                                    </div>
                                </div>
                    
                                <!-- Правая колонка -->
                                <div class="form-column">
                                    <!-- Комментарий по товару -->
                                    <div class="form-group">
                                        <label for="{{ input_data_form.comment.id_for_label }}">Установите комментарий*</label>
                                        <select
                                            id="{{ input_data_form.comment.id_for_label }}"
                                            name="{{ input_data_form.comment.html_name }}"
                                            class="input_wrapper"
                                            required
                                        >
                                            {% for comment in input_data_form.comment %}
                                                        {{ comment }}
                                            {% endfor %}
                                        </select>
                                    </div>
                    
                                    <!-- Описание проблемы -->
                                    <div class="form-group">
                                        <label for="{{ input_data_form.description_problem.id_for_label }}">
                                            Описание проблемы (не обязательно)
                                        </label>
                                        <textarea
                                            id="{{ input_data_form.description_problem.id_for_label }}"
                                            name="{{ input_data_form.description_problem.html_name }}"
                                            placeholder="Опишите проблему"
                                            class="text_area_form"
                                        ></textarea>
                                    </div>
                    
                                    <!-- Специалист -->
                                    <div class="form-group">
                                        <label for="{{ input_data_form.specialist.id_for_label }}">Принял товар*</label>
                                        <select
                                            id="{{ input_data_form.specialist.id_for_label }}"
                                            name="{{ input_data_form.specialist.html_name }}"
                                            class="input_wrapper"
                                            required
                                        >
                                            <option value="">Выберите вариант</option>
                                            {% for specialist in input_data_form.specialist %}
                                                        {{specialist}}
                                            {% endfor %}
                                        </select>
                                    </div>
                    
                                    <!-- Ведущий накладную -->
                                    <div class="form-group">
                                        {{ input_data_form.leading.label_tag }}  <!-- Автоматический лейбл -->
                                        {{ input_data_form.leading }}  <!-- Django сам подставит класс и required -->
                                        {{ input_data_form.leading.errors }}  <!-- Ошибки будут показаны здесь -->
                                    </div>
                                </div>
                            </div>
                    
                            <!-- Скрытые поля -->
                            <input type="hidden" id="hidden_unit" name="{{ input_data_form.unit.html_name }}">
                            <input type="hidden" id="hidden_article" name="{{ input_data_form.article.html_name }}">
                            <input type="hidden" id="hidden_project" name="{{ input_data_form.project.html_name }}">
                    
                            <!-- Кнопки -->
                            <div class="form-buttons">
                                <button type="button" class="button button--red ">Отменить</button>
                                <button type="button" class="send_data_form_button button button--green">Внести данные</button>
                            </div>
                        </form>
                    </div>
                    
                    
                    
                </div>
            </div>
            <!-- Окно 3: Меню с отчетом -->
            <div id="popup4" class="my-popup">
                <div class="popup-content">
                    <div class="popup-header">
                        <span class="drag-handle">☰</span>
                        <h2>Ваше окно</h2>
                        <span class="close-btn">&times;</span>
                    </div>
                    <div class="content-area">
                        форма с джанго
                        <form action="">
                            {% csrf_token %}
                            {{input_data_form}}
                        </form>
                        
                    </div>
                </div>
            </div>
            {% for supplier in input_data_form.supplier %}
            {{supplier.id}}{{supplier}}
             {% endfor %}
            <table>
                <thead>
                    <tr>
                        <th>номер накладной</th>
                        <th>дата накладной</th>
                        <th>поставщик</th>
                        <th>артикул</th>
                        <th>наименование</th>
                        <th>единицы измерения</th>
                        <th>количество</th>
                        <th>комментарий</th>
                        <th>описание</th>
                        <th>специалист</th>
                        <th>ведущий</th>
                        <th>статус</th>
                        <th>примечание</th>
                        <th>действия</th>
                    </tr>
                </thead>
                <tbody id="invoiceTableBody">
                    <!-- Data will be loaded here -->
            </tbody>
             </table>

 

    
    <script src='{% static 'shared\js\components\popup_manager.js' %}'></script>
    <script src='{% static 'comers\js\auto_fields.js' %}'></script>
    <script src='{% static 'comers\js\filters.js' %}'></script>
    <script src='{% static 'comers\js\get_all_data_load_page.js' %}'></script>
    <script src='{% static 'comers\js\query.js' %}'></script>
    <script src='{% static 'comers\js\validate_form.js' %}'></script>
</body>
</html>