<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'finder/css/style_finder2.css' %}">
    <link rel="stylesheet" href="{% static 'finder/css/table_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index_all.css' %}">
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}">
    <title>Поисковик</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="find_container">
                <div class="search_bar">
                    <form id="search_form" method="post">
                        {% csrf_token %}
                        <div class="input_wrapper">
                            <div class="input_container">
                                <input id="search_input" type="text" name="query" placeholder="поиск по названию, коду, артикулу">
                            </div>
                            <img id="search_icon" src="{% static 'icon/lupa_input.png' %}" alt="Иконка поиска">
                        </div>
                    </form>
                    <div class="filter_container"> 
                        <div class="filters">
                            <div class="check_box_container">
                                <input class='check_box' type="checkbox" id="search_by_code" name="search_by_code" value="true">
                                <label for="search_by_code">искать по коду</label>
                            </div>
                            <div class="check_box_container">
                                <input class='check_box' type="checkbox" id="search_by_comment" name="search_by_comment" value="true">
                                <label for="search_by_comment">искать по комментарию</label>
                            </div>
                        </div>
                    </div>     
                </div>
            </div> 
            <div class="info_update">
                <div>База обновлена</div>
                <div>13.02.2025</div>
            </div>
        </header>
        <div class="filter_project_container">
            <div class="button_wrapper">
                <img src="{% static 'icon/filter.png' %}" alt="Иконка фильтра">  
                <div>Фильтр проектов</div>
            </div>
            <div class="button_wrapper_clear">
                <div>Сбросить фильтр</div>
            </div>
        </div>
        <div class="main">
            <div class="manual">
                <img src="{% static 'finder/img/manual.jpg' %}" alt="Инструкция">
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr class="table-header">
                            <th class="icon-column"></th>
                            <th class="icon-column"></th>
                            <th class="header-cell">Партия</th>
                            <th class="header-cell">Артикул</th>
                            <th class="header-cell">Код</th>
                            <th class="header-cell">Наименование</th>
                            <th class="icon-column"></th>
                            <th class="header-cell">Количество на складе</th>
                            <th class="header-cell">Единицы измерения</th>
                            <th class="header-cell">Цена</th>
                            <th class="icon-column"></th>
                            <th class="header-cell">Проект</th>
                            <th class="header-cell">Комментарий</th>
                        </tr>
                    </thead>
                    <tbody class="pinned-block" id="pinnedRows">
                        <!-- Закрепленные строки будут здесь -->
                    </tbody>
                    <tbody>
                        <!-- основные строки будут здесь -->
                    </tbody>
                </table>
                <div class="not_found">
                    <img src="{% static 'finder/img/not_found.png' %}" alt="Ничего не найдено">  
                    <p>Ничего не найдено!</p>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="logo">
                <img src="{% static 'finder/icon/logo_finder.svg' %}" alt="Логотип">
            </div>
            <div class="menu_item">
                <div class="menu_row">
                    <img id="icon_color" src="{% static 'finder/icon/search.svg' %}" alt="Иконка поиска">
                    <div class="menu_link">
                        <a href="#">Поиск</a>
                    </div>
                </div>
                <div class="details_item" id="details_item">
                    <h2 class="info_title">Информация о позиции</h2>
                    <h3 class="position_title">Наименование:</h3>
                    <p>Мотор омывателя ВАЗ-2108-2115, 2123 в сборе LADA 21105208009</p>
                    <h3 class="position_title">Артикул:</h3>
                    <p>Б000156874</p>
                    <h3 class="position_title">Проект:</h3>
                    <div class="project_item">
                        <div class="circle"></div>
                        <p>Название проекта на который закуплен товар</p>
                    </div>
                    <h3 class="position_title">Всего:</h3>
                    <p>571 шт</p>
                    <div class="any_projects">
                        <p>На всех проектах (9)</p>
                        <img src="{% static 'finder/icon/arrow.svg' %}" alt="Стрелка">       
                    </div>
                    <div class="hide_info" id="hide_info">Скрыть информацию</div>
                </div> 
                <div class="menu_row">
                    <img src="{% static 'finder/icon/notes.svg' %}" alt="Иконка заметок">
                    <div class="menu_link">
                        <a href="#">Заметки</a>
                    </div>
                </div>
                <div class="menu_row">
                    <img src="{% static 'finder/icon/sahr.svg' %}" alt="Иконка С.А.ХР">
                    <div class="menu_link">
                        <a href="#">С.А.ХР</a>
                    </div>
                </div>
                <div class="menu_row">
                    <img src="{% static 'finder/icon/archive.svg' %}" alt="Иконка архива">
                    <div class="menu_link">
                        <a href="#">Архив</a>
                    </div>
                </div>
                <div class="menu_row">
                    <img src="{% static 'finder/icon/comers.svg' %}" alt="Иконка недопоставок">
                    <div class="menu_link">
                        <a href="#">Недопоставки</a>
                    </div>
                </div>
                <div class="menu_row">
                    <img src="{% static 'finder/icon/inventory.svg' %}" alt="Иконка инвентаризации">
                    <div class="menu_link">
                        <a href="#">Инвентаризация</a>
                    </div>
                </div>
                <div class="menu_row">
                    <img src="{% static 'finder/icon/analogs.svg' %}" alt="Иконка таблицы аналогов">
                    <div class="menu_link">
                        <a href="#">Таблица аналогов</a>
                    </div>
                </div>
            </div> 
            <div class="down_menu">
                <div class="button_wrapper_update">
                    <img src="{% static 'finder/icon/update_base.svg' %}" alt="Иконка обновления базы">
                    <div>Обновить базу</div>
                </div>
                <div class="menu_row_down">
                    <img src="{% static 'finder/icon/login.svg' %}" alt="Иконка входа">
                    <div class="menu_link">
                        <a href="#">Войти</a>
                    </div>
                </div>
                <div class="menu_row_down">
                    <img src="{% static 'finder/icon/revievs.svg' %}" alt="Иконка отзывов">
                    <div class="menu_link">
                        <a id='revievs_link' href="#">Отзывы и предложения</a>
                    </div>
                </div>
                <p>Ваш отзыв поможет <br> улучшить продукт</p>
            </div> 
        </div>
    </div>
    <script>
        // Определяем пути к статическим файлам
        const staticUrls = {
            keepIcon: "{% static 'finder/icon/keep.svg' %}",
            keepIconRed: "{% static 'finder/icon/keep_red.svg' %}",
            commentIcon: "{% static 'finder/icon/comment2.svg' %}",
            copyIcon: "{% static 'finder/icon/content_copy.svg' %}"
        };
    </script>
    <script src='{% static "finder/js/popups.js"%}'></script> 
    <script src='{% static "finder/js/search_finder_input.js"%}'></script> 
    <script src='{% static "finder/js/add_pin_positions.js"%}'></script> 
    <script src='{% static "finder/js/switch_manual_finger.js"%}'></script> 
</body>
</html>

