<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'finder/css/style_finder2.css' %}">
    <link rel="stylesheet" href="{% static 'finder/css/popups_style.css' %}">
    <link rel="stylesheet" href="{% static 'finder/css/table_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index_all.css' %}">
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}">
    <title>Поисковик</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="find_container">
                <div class="search_bar">
                    <form id="search_form" method="post">
                        {% csrf_token %}
                        <div class="input_wrapper">
                            <div class="input_container">
                                <input id="search_input" type="text" name="query" placeholder="поиск по названию, коду, артикулу">
                            </div>
                            <img id="search_icon" src="{% static 'icon/lupa_input.png' %}" alt="Иконка поиска">
                        </div>
                    </form>
                    <div class="filter_container"> 
                        <div class="filters">
                            <div class="check_box_container">
                                <input class='check_box' type="checkbox" id="search_by_code" name="search_by_code" value="true">
                                <label for="search_by_code">искать по коду</label>
                            </div>
                            <div class="check_box_container">
                                <input class='check_box' type="checkbox" id="search_by_comment" name="search_by_comment" value="true">
                                <label for="search_by_comment">искать по комментарию</label>
                            </div>
                        </div>
                    </div>     
                </div>
            </div> 
            <div class="info_update">
                <div>База обновлена</div>
                <div>13.02.2025</div>
            </div>
        </header>
        <div class="filter_project_container">
            <div class="button_wrapper" id="button_filter_projects">
                <img src="{% static 'icon/filter.png' %}" alt="Иконка фильтра">  
                <div>Фильтр проектов</div>
            </div>
            <div class="selected-projects-container">
                <!-- Сюда будем добавлять выбранные проекты через JS -->
            </div>
            <div class="button_wrapper_clear">
                <div>Сбросить фильтр</div>
            </div>
        </div>
        <div class="main">
            <div class="background-overlay"></div>
            <div class="any_projects_popup">
                <div class="close">
                    <img id="icon_color" src="{% static 'finder/icon/close.svg' %}" alt="Закрыть">  
                </div>
                <div class="popup_container"> 
                    <div class="title_popup_any_projects">
                        На всех проектах
                    </div>
                    <div class="name_position" id="name_position">
                    </div>
                    <div id="item_project_popup" class="item_project_popup">
                        <div class="row_item_detais">
                            <div class="circle" id="project_color"></div>
                            <div class="project_name_popup"></div>
                            <div class="project_quantity_popup"></div>
                            <div class="project_unit_popup"></div>
                        </div>
                    </div>
                        <div class="info_result_sum_project">
                            <div class="info_result_items">
                                <div class="info_result_items_title">
                                    Итого:
                                </div>
                                <div class="final_result_sum" id="final_result_sum" >
                                </div>
                                <div class="final_result_sum_unit" id="final_result_sum_unit">
                                </div>
                            </div>
                        </div>
                            <div class="close_div">
                                <div class="button_wrapper_close">  
                                    <div>Закрыть</div> 
                                </div>
                            </div>
                </div>
            </div>
            <div class="choice_project_popup" id="choice_project_popup">
                    <div class="close">
                        <img id="icon_color" src="{% static 'finder/icon/close.svg' %}" alt="Закрыть">  
                    </div> 
                    <div class="title_popup_any_projects">
                        Фильтр проектов
                        <input type="text" id="project_search" placeholder="Поиск проектов..." class="search-input">
                    </div>
                    <div class="item_choice_project_container">


                    </div>
                    <div class="down_project_container">
                        <div class="button_wrapper_filter_view_all" id="button_filter_view_all">
                            <div>Отобразить все позиции</div>
                        </div>
                        <div class="button_wrapper_filter_submit" id="button_filter_submit">
                            <div>Применить</div>
                        </div>
                    </div>

            </div>
            {% comment %} <div class="manual">
                <img src="{% static 'finder/img/manual.jpg' %}" alt="Инструкция">
            </div>  {% endcomment %}
            <div class="table-container">
                <table>
                    <thead>
                        <tr class="table-header">
                            <th class="icon-column"></th>
                            <th class="icon-column"></th>
                            <th class="header-cell">Партия</th>
                            <th class="header-cell">Артикул</th>
                            <th class="header-cell">Код</th>
                            <th class="header-cell">Наименование</th>
                            <th class="icon-column"></th>
                            <th class="header-cell">Количество на складе</th>
                            <th class="header-cell">Единицы измерения</th>
                            <th class="header-cell">Цена</th>
                            <th class="icon-column"></th>
                            <th class="header-cell">Проект</th>
                            <th class="header-cell">Комментарий</th>
                        </tr>
                    </thead>
                    <tbody class="pinned-block" id="pinnedRows">
                        <!-- Закрепленные строки будут здесь -->
                    </tbody>
                    <tbody id="mainRows">
                        <!-- основные строки будут здесь -->
                    </tbody>
                </table>
                <div class="not_found">
                    <img src="{% static 'finder/img/not_found.png' %}" alt="Ничего не найдено">  
                    <p>Ничего не найдено!</p>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="logo">
                <img src="{% static 'finder/icon/logo_finder.svg' %}" alt="Логотип">
            </div>
            <div class="menu_item">
                <div class="menu_row">
                    <img id="icon_color" src="{% static 'finder/icon/search.svg' %}" alt="Иконка поиска">
                    <div class="menu_link">
                        <a href="#">Поиск</a>
                    </div>
                </div>
                <div class="details_item" id="details_item">
                    <h2 class="info_title">Информация о позиции</h2>
                    <h3 class="position_title">Наименование:</h3>
                    <p id="position_name"></p>
                    <h3 class="position_title">Артикул:</h3>
                    <p id="position_article"></p>
                    <h3 class="position_title">Проект:</h3>
                    <div class="project_item">
                        <div class="circle" id="project_color"></div>
                        <p id="project_name"></p>
                    </div>
                    <h3 class="position_title">Всего на проекте:</h3>
                    <div class="total_contauner">
                        <p id="total_quantity"></p>
                        <p id="unit"></p>
                    </div>
                    <div class="any_projects">
                        <p class="title_count">На всех проектах</p>
                        <p id="count_projects"></p>
                        <img class="arrow_img" src="{% static 'finder/icon/arrow.svg' %}" alt="Стрелка">
                    </div>
                    <div class="hide_info" id="hide_info">Скрыть информацию</div>
                </div>
                <div class="menu_row">
                    <img src="{% static 'finder/icon/notes.svg' %}" alt="Иконка заметок">
                    <div class="menu_link">
                        <a href="#">Заметки</a>
                    </div>
                </div>
                <div class="menu_row">
                    <img src="{% static 'finder/icon/sahr.svg' %}" alt="Иконка С.А.ХР">
                    <div class="menu_link">
                        <a href="#">С.А.ХР</a>
                    </div>
                </div>
                <div class="menu_row">
                    <img src="{% static 'finder/icon/archive.svg' %}" alt="Иконка архива">
                    <div class="menu_link">
                        <a href="#">Архив</a>
                    </div>
                </div>
                <div class="menu_row">
                    <img src="{% static 'finder/icon/comers.svg' %}" alt="Иконка недопоставок">
                    <div class="menu_link">
                        <a href="#">Недопоставки</a>
                    </div>
                </div>
                <div class="menu_row">
                    <img src="{% static 'finder/icon/inventory.svg' %}" alt="Иконка инвентаризации">
                    <div class="menu_link">
                        <a href="#">Инвентаризация</a>
                    </div>
                </div>
                <div class="menu_row">
                    <img src="{% static 'finder/icon/analogs.svg' %}" alt="Иконка таблицы аналогов">
                    <div class="menu_link">
                        <a href="#">Таблица аналогов</a>
                    </div>
                </div>
            </div> 
            <div class="down_menu">
                <div class="button_wrapper_update">
                    <img src="{% static 'finder/icon/update_base.svg' %}" alt="Иконка обновления базы">
                    <div>Обновить базу</div>
                </div>
                <div class="menu_row_down">
                    <img src="{% static 'finder/icon/login.svg' %}" alt="Иконка входа">
                    <div class="menu_link">
                        <a href="#">Войти</a>
                    </div>
                </div>
                <div class="menu_row_down">
                    <img src="{% static 'finder/icon/revievs.svg' %}" alt="Иконка отзывов">
                    <div class="menu_link">
                        <a id='revievs_link' href="#">Отзывы и предложения</a>
                    </div>
                </div>
                <p>Ваш отзыв поможет <br> улучшить продукт</p>
            </div> 
        </div>
    </div>
    <script>
        // Определяем пути к статическим файлам
        const staticUrls = {
            keepIcon: "{% static 'finder/icon/keep.svg' %}",
            keepIconRed: "{% static 'finder/icon/keep_red.svg' %}",
            commentIcon: "{% static 'finder/icon/comment2.svg' %}",
            copyIcon: "{% static 'finder/icon/content_copy.svg' %}",
            addIcon: "{% static 'finder/icon/add.svg' %}",
            closeIcon: "{% static 'finder/icon/clear.svg' %}"
        };
    </script>
    <script src='{% static "finder/js/popups.js"%}'></script> 
    <script src='{% static "finder/js/search_finder_input.js"%}'></script> 
    <script src='{% static "finder/js/add_pin_positions.js"%}'></script> 
    <script src='{% static "finder/js/details.js"%}'></script> 
    <script src='{% static "finder/js/filters_projects.js"%}'></script> 
    <script src="{% static "finder/js/projectSelection.js" %}"></script>
    <script src="{% static "finder/js/all_one_project.js" %}"></script>
    {% comment %} <script src='{% static "finder/js/switch_manual_finger.js"%}'></script>  {% endcomment %}
</body>
</html>

